/* Code du style commun à toutes les pages */

body {
    font-family: Arial, sans-serif;
    background-color: #F0F3F5;
    margin: 0;
    padding: 0;
}

h1 {
    color: #020100;
    text-align: center;
    margin: 20px 0;
}

#hautDePage {
    background-color: #197BBD;
    color: #F0F3F5;
    padding: 10px 0;
    position: relative;
}

#navigation {
    text-align: center;
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
}

#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    gap: 20px;
}

#menu li {
    margin: 0;
}

#menu a {
    text-decoration: none;
    color: #F1D302;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#menu a:hover {
    background-color: #474448;
}

#menuLogout {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#menuLogout li {
    margin: 0;
}

#menuLogout a {
    text-decoration: none;
    color: #F1D302;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#menuLogout a:hover {
    background-color: #474448;
}

form {
    background-color: #FFFFFF;
    border: 1px solid #197BBD;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.labelFormJoueur {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #020100;
}

/* Tous les champs de saisie auront la même largeur et seront centrés */
input, select, #bontonAjoutJoueur {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #474448;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box; /* Garantit que le padding ne dépasse pas la largeur */
    text-align: center; /* Centrer le texte dans les champs de saisie */
}

/* Boutons de formulaire */
#boutonAjoutJoueur, #boutonAjoutMatch, #bontonModificationJoueur {
    display: block;
    width: 50%;
    margin: 20px auto;
    background-color: #197BBD;
    color: #F0F3F5;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

button:hover {
    background-color: #197BBD;
    color: #F0F3F5;
}