/* Code du style commun à toutes les pages */

body {
    font-family: Arial, sans-serif;
    background-color: #F0F3F5;
    margin: 0;
    padding: 0;
}

h1 {
    color: #020100;
    text-align: center;
    margin: 20px 0;
}

#hautDePage {
    background-color: #197BBD;
    color: #F0F3F5;
    padding: 10px 0;
    position: relative;
}

#navigation {
    text-align: center;
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
}

#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    gap: 20px;
}

#menu li {
    margin: 0;
}

#menu a {
    text-decoration: none;
    color: #F1D302;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#menu a:hover {
    background-color: #474448;
}

#menuLogout {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#menuLogout li {
    margin: 0;
}

#menuLogout a {
    text-decoration: none;
    color: #F1D302;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#menuLogout a:hover {
    background-color: #474448;
}


/* Table des statistiques */


h2 {
    font-size: 24px;
}

/* Style pour les listes */
#statsGénérales {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    width: 60%;
    background-color: #FFFFFF;
    border: 1px solid #197BBD;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#statsGénérales li {
    margin: 10px 0;
    font-size: 18px;
}

/* Style de la table */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #FFFFFF;
    border: 1px solid #197BBD;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

table thead {
    background-color: #197BBD;
    color: #F0F3F5;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #E0E0E0;
}

table th {
    font-size: 16px;
}

table tbody tr:nth-child(even) {
    background-color: #F9F9F9;
}

table tbody tr:hover {
    background-color: #E0F7FA;
}
