/* Style commun à plusieurs pages (menu, body et h1) */

/* Style général du corps de la page */

body {
    font-family: Arial, sans-serif;
    background-color: #F0F3F5;
    margin: 0;
    padding: 0;
}

/* Style du titre principal */
h1 {
    color: #020100;
    text-align: center;
    margin: 20px 0;
}

/* Style de la barre supérieure de la page */
#hautDePage {
    background-color: #197BBD;
    color: #F0F3F5;
    padding: 1.5em ;
    position: relative;
}

/* Style de la section de navigation */
#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Style du menu principal */
#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    gap: 20px;
}

/* Style des éléments du menu */
#menu li {
    margin: 0;
}

/* Style des liens du menu */
#menu a {
    text-decoration: none;
    color: #F1D302;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Effet visuel lorsque le lien du menu est survolé */
#menu a:hover {
    background-color: #0056b3;
}

/* Style du menu de déconnexion */
#menuLogout {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style des éléments du menu de déconnexion */
#menuLogout li {
    margin: 0;
}

/* Style des liens du menu de déconnexion */
#menuLogout a {
    text-decoration: none;
    color: #F1D302;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Effet visuel lorsque le lien de déconnexion est survolé */
#menuLogout a:hover {
    background-color: #0056b3;
}

/* Style pour l'ID nom */
#volleyMaster {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style des liens du menu nom */
#volleyMaster a {
    text-decoration: none;
    color: #F1D302;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}





/*------------------------------------------------------------------------------*/
/* Code du style des pages d'ajout et modification des joueurs et des matchs */
/*------------------------------------------------------------------------------*/

/* Formulaire avec bordure et ombre */
form {
    background-color: #FFFFFF;
    border: 1px solid #197BBD;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Espacement entre les éléments du formulaire */
.form-group {
    margin-bottom: 15px;
}

/* Style des labels des champs du formulaire */
.labelFormJoueur {
    display: block;
    margin-bottom: 5px;
    color: #020100;
}

/* Tous les champs de saisie auront la même largeur et seront centrés */
input, select{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #474448;
    border-radius: 5px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; 
    text-align: center; 
}

/* Style des boutons d'ajout et de modification */
#boutonAjout, #boutonAjoutMatch, #bontonModificationJoueur, #bontonModificationMatch {
    display: block;
    width: 50%;
    margin: 20px auto;
    background-color: #197BBD;
    color: #F0F3F5;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

/* Effet visuel lorsque le bouton est survolé */
button:hover {
    background-color: #0056b3;
    color: #F0F3F5;
}
